@import url(https://fonts.googleapis.com/css?family=Mynerve);

:root {
    --board-size: 60vmin;
}

* {
    font-family: 'Mynerve', sans-serif;
    background-color: #000;
    color: white;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

p,
body {
    margin: 0;
}

body,
.game {
    display: grid;
    place-content: center;
    gap: 1.5rem;
}

.board {
    border: var(--cell-border);
    display: grid;
    height: var(--board-size);
    width: var(--board-size);
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.cell {
    border: 2px solid white;
    display: grid;
    place-content: center;
    font-size: calc(var(--board-size) / 4);
} 

.cell:hover,
#restart:hover {
    cursor: pointer;
    background-color: #131313;
}

.board > .cell:first-child,
.board > .cell:nth-child(2),
.board > .cell:nth-child(3) {
    border-top: none;
}

.board > .cell:first-child,
.board > .cell:nth-child(4),
.board > .cell:nth-child(7) {
    border-left: none;
}

.board > .cell:nth-child(7),
.board > .cell:nth-child(8),
.board > .cell:last-child {
    border-bottom: none;
}

.board > .cell:nth-child(3),
.board > .cell:nth-child(6),
.board > .cell:last-child {
    border-right: none;
}

.turn {
    text-align: center;
    font-size: calc(var(--board-size) / 18);
    margin-top: 1.5rem;
}

#restart,
#difficulty {
    border: 2px solid white;
    border-radius: 6px;
}

#restart {
    font-size: 3vmin;
    font-weight: 900;
    padding: 8px 20px;
}

#difficulty {
    font-size: 2.5vmin;
    cursor: pointer;
    padding: 3px 10px;
}

.blur {
    filter: blur(10px);
}

.result {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    font-size: 7vw;
    font-weight: bold;
}